%article{ style: 'margin-top: 24px' }
  %header
    %h2= @recipe.name
    %h5
      Tratamineto para:
      = @recipe.disease.name
  %section.row
    .col-md-4
      %figure
        = image_tag @recipe.picture, style: 'width:200px'
    .col-md-8
      %p= @recipe.description
