%h1 Listing Doctors

= search_form_for @q do |f|
  =f.label :profile_name_or_profile_description_cont
  =f.search_field :profile_name_or_profile_description_cont

.doctors
  .row
    - @users.each do |user|
      .col-lg-6
        .row
          .col-lg-12
            = image_tag('dr-avatar.png')
        .row
          .col-lg-12
            = user.profile.name
          /.col-lg-3
          /  = link_to 'Show', user
          /.col-lg-3
          /  = link_to 'Edit', edit_user_path(user)
          /.col-lg-3
          /  = link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Doctor', new_user_path
