%nav.navbar.navbar-light.bg-danger
  %a.navbar-brand{:href => "/"} La Botica de la Abuela
  %ul.navbar-nav.mr-auto
    - if current_user&.doctor?
      %li.nav-item
        = link_to 'Recetas', recipes_path, class: 'nav-link'
      %li.nav-item
        = link_to 'Nueva receta', new_recipe_path, class: 'nav-link'